<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Matchday login</title>
    <link rel="stylesheet" href="bootstrap4.4.1.min.css">
    <style>

    </style>
</head>
<body class="bg-dark">

    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
                </a>

                <span class="mr-4">Welcome to Match Day</span>

                <div class="text-end">
                    <a th:href="@{/oauth2/authorization/google}" type="button" class="btn btn-warning">Login with Google</a>
                </div>
            </div>
        </div>
    </header>
    <div class="p-3 text-white">
        <h6><small>Place some predictions for football matches. This is a private operation, you will need an activation code to use this service.</small></h6>
        <h6><small>Warning! No one is liable for the data stored/processed here or any usage whatsoever of the site/data. The creator of the application does whatever he likes with the data and the code. If you don't like it then leave now!</small></h6>
        <h6><small><i>Copyright (c) Adrianus, 2o22</i></small></h6>
    </div>
</body>
</html>